{% extends 'main.html' %} {% load static %} {% block content %}
<div class="reset-password">
  <h3 class="reset-title">Password reset</h3>
  <p class="reset-instructions">
    Forgotten your password? Enter your email address below, and we'll email instructions for
    setting a new one.
  </p>
  <form class="edit-form" method="post">
    {% csrf_token %}
    <div class="form-fields">
      {{ form.email.errors }}
      <label for="id_email">Email address:</label>
      <input
        type="email"
        name="email"
        id="id_email"
        class="reset-input"
        required
        placeholder="Enter your email address"
      />
    </div>

    <input class="edit-form__submit" type="submit" value="Reset Password" />
  </form>
</div>
{% endblock content %}
