{% load static %}

<div class="upper-content__left">
  <div class="logo">
    <a href="#">
      <img src="{% static 'images/Logo.png' %}" alt="Logo" height="75px" />
    </a>
    <a href="#"><p class="logo-text">Popcorn+</p></a>
  </div>
  <div class="menu">
    <nav>
      <h3>Menu</h3>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-search"></i>
            Discover
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-trophy"></i>
            Awards
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-star"></i>
            Celebrities
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="library">
    <h3>Library</h3>
    <ul>
      <li>
        <a href="#"><i class="fa fa-history"></i> Recent</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-star"></i> Top Rated</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-list"></i> Playlist</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-eye"></i> Watchlist</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-check"></i> Completed</a>
      </li>
    </ul>
  </div>
  <div class="general">
    <h3>General</h3>
    <ul>
      <li>
        <a href="#"><i class="fa fa-cog"></i> Settings</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="#"><i class="fa fa-sign-out"></i> Log Out</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
