* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

ol,
ul {
  padding-left: 0;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  font-family: "Lato", sans-serif;

}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}